@import "../../styles/Responsive.scss";

.hero {
  min-height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(255, 224, 20, 0.5) -40.24%,
      rgba(55, 13, 99, 0.5) 100%
    ),
    url("../../assets/hero.png");
  background-size: cover;
  background-position: center;

  @include Tablet {
    min-height: 80vh;
  }

  @include Mobile {
    overflow-x: hidden;
  }


  .logo {
    @include Tablet {
      display: none;
    }
  }

  .small-logo {
    display: none;

    @include Tablet {
      display: block;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    margin-bottom: 8rem;
  }

  .contact {

    .phone{
        @include Tablet {
            display: none;
          }
    }

    .chat{
        display: none;

        @include Tablet {
            display: block;
          }
    }
  }

  .main-hero {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;

    @include Tablet {
        justify-content: center;
        align-items: center;
        width: 100%;
      }
 

    .hero-title {
      color: white;

      @include Tablet {
        text-align: center;
        margin-top: 7rem;
      }

      .hero-small-title {
        font-size: 20px;
        margin-bottom: 2rem;
        font-weight: 600;
      }

      .hero-big-title {
        font-size: 48px;
        font-weight: 600;
        width: 450px;
        margin-bottom: 2rem;
      }
    }

    .hero-navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15rem;
      
      @include Mobile {
          margin-top: 5rem;
      }
      .pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;

        .dot {
          width: 8px;
          height: 8px;
          background: #d9d9d9;
          border-radius: 50%;

          &.yellow-dot {
            background: #ebeb6c;
          }
        }
      }

      .navigate {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #d9d9d9;

        @include Tablet {
            display: none;
          }

        .arrow {
          display: grid;
          place-content: center;
          height: 47px;
          width: 47px;
          border: 2px solid #d9d9d9;
          border-radius: 50%;
          cursor: pointer;

          &.right {
            color: #ebeb6c;
            border: 2px solid #ebeb6c;
          }
        }
      }
    }
  }

  .about-link {
    a {
      background: #ebeb6c;
      padding: 0.7rem 2rem;
      border-radius: 30px;
      font-family: "Inter", sans-serif;
      transition: transform 0.3s ease-in-out;
      font-weight: bold;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
