@import "../../styles/Responsive.scss";

.services {
  padding-block: 10%;
  position: relative;
  min-height: 140vh;
  // overflow-x: hidden;

  @include Large {
    min-height: 127vh;
  }

  @include Desktop {
    min-height: 155vh;
    overflow-x: hidden;
  }


  @include Tablet {
    overflow-x: hidden;
    min-height: 107vh;
  }



  .title-text-container{
    position: absolute;
    left: 10%;
    top: 6rem;

    @include Tablet {
      overflow-x: hidden;
      left: 0;
    }
  
  }

  .service-title {
    font-size: 48px;
    width: 600px;
    margin-bottom: 1.5rem;

    @include Tablet {
      width: 100%;
      text-align: center;
      padding-inline: 4rem;
    }

    @include Mobile {
      padding-inline: 1rem;
      font-size: 32px;
    }

    span {
      font-weight: 700;
    }
  }

  .services-text {
    width: 470px;
    line-height: 24px;

    @include Tablet {
      width: 100%;
      text-align: center;
      padding-inline: 6rem;
    }

    @include Mobile {
      padding-inline: 2.5rem;
      font-size: 14px;
    }
  }

  .big-text {
    position: absolute;
    font-size: 150px;
    color: #ebeb6c;
    right: -2rem;

    @include Tablet {
      position: relative;
      margin-top: 15rem;

    }

    @include Mobile {
      font-size: 96px;
    }
  }

  .image-gallery {
    display: flex;
    position: absolute;
    gap: 1rem;
    left: 0;
    top: 30.5rem;

    @include Tablet {
      position: relative;
      margin-top: -29rem;


      img {
        width: 100%;
      }
    }

    @include Mobile {
      display: none;
    }

    .g1 {
      .m1 {
        margin-bottom: 1rem;
      }
    }

    .g2-1 {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .g2-1-1 {
      .m4 {
        margin-bottom: 1rem;
      }
    }

    .g3 {
      .m7 {
        margin-bottom: 1rem;
      }
    }
  }

  .image-gallery-small {
    display: none;

    @include Mobile {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    @include Mobile {
      img {
        width: 100%;
      }
    }
  }
}
