@import "../../styles/Responsive.scss";

.services {
  padding-block: 10%;
  position: relative;
  min-height: 140vh;
  // overflow-x: hidden;

  @include Large {
    min-height: 127vh;
  }

  @include Desktop {
    min-height: 155vh;
    overflow-x: hidden;
  }

  @include Tablet {
    overflow-x: hidden;
    min-height: 107vh;
  }

  .title-text-container {
    position: absolute;
    left: 10%;
    top: 6rem;

    @include Tablet {
      overflow-x: hidden;
      left: 0;
    }
  }

  .service-title {
    font-size: 48px;
    width: 600px;
    margin-bottom: 1.5rem;

    @include Tablet {
      width: 100%;
      text-align: center;
      padding-inline: 4rem;
    }

    @include Mobile {
      padding-inline: 1rem;
      font-size: 32px;
    }

    span {
      font-weight: 700;
    }
  }

  .services-text {
    width: 470px;
    line-height: 24px;

    @include Tablet {
      width: 100%;
      text-align: center;
      padding-inline: 6rem;
    }

    @include Mobile {
      padding-inline: 2.5rem;
      font-size: 14px;
    }
  }

  .big-text {
    position: absolute;
    font-size: 150px;
    color: #ebeb6c;
    right: -2rem;
    top: 22rem;

    @include Tablet {
      position: relative;
      margin-top: 15rem;
      top: 15px;
    }

    @include Mobile {
      font-size: 96px;
    }
  }

  .image-gallery,
  .image-gallery-small {
    display: flex;
    position: absolute;
    gap: 1rem;
    left: 0;
    top: 30.5rem;

    .img-wrapper,
    .image-gallery-small {
      position: relative;
      overflow: hidden;

      // .overlay {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   bottom: 0;
      //   width: 100%;
      //   background: rgba(0, 0, 0, 0.5);
      //   z-index: 1;
      //   overflow: hidden;
      // }

      .location {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
        font-size: 16px;
        opacity: 0;
        transition: bottom 0.5s ease-in-out, left 0.5s ease-in-out,
          font-size 0.5s ease-in-out, opacity 0.5s ease-in-out;
        color: #ebeb6c;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 2;
      }

      img {
        transition: opacity 0.5s ease-in-out;
      }

      &:hover {
        .location {
          bottom: 3rem;
          left: 2rem;
          font-size: 24px;
          opacity: 1;

          @include Tablet {
            font-size: 16px;
          }
        }

        img {
          opacity: 0.6;
        }
      }
    }

    @include Tablet {
      position: relative;
      margin-top: -29rem;

      img {
        width: 100%;
      }
    }

    @include Mobile {
      display: none;
    }

    .g1 {
      .m1 {
        margin-bottom: 1rem;
      }
    }

    .g2-1 {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .g2-1-1 {
      .m4 {
        margin-bottom: 1rem;
      }
    }

    .g3 {
      .m7 {
        margin-bottom: 1rem;
      }
    }
  }

  .image-gallery-small {
    display: none;

    @include Mobile {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .img-wrapper {
      @include Mobile {
        width: 100%;
      }
    }

    @include Mobile {
      img {
        width: 100%;
      }
    }
  }
}
