@import "../../styles/Responsive.scss";
.explore {
  min-height: 100vh;
  background: #ebeb6c;
  position: relative;
  padding-block: 6%;
  overflow-x: hidden;

  @include Mobile {
    overflow-x: hidden;
  }

  .explore-title {
    font-size: 48px;
    width: 500px;
    margin-bottom: 1.5rem;

    @include Tablet {
      width: 100%;
      text-align: center;
    }

    @include Mobile {
      font-size: 32px;
      padding-inline: 2rem;
    }

    span {
      font-weight: 700;
    }
  }

  .explore-text {
    width: 470px;
    line-height: 24px;

    @include Tablet {
      width: 100%;
      text-align: center;
    }
  }

  .big-text {
    position: absolute;
    font-size: 150px;
    color: #ffffff;
    right: -2rem;
    top: -3.7rem;

    @include Tablet {
      position: unset;
    }

    @include Mobile {
      font-size: 96px;
    }
  }

  .explore-here {
    position: relative;

    .explore-cards-container {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 85vw;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      @include Tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100vw;
      }

      @include Mobile {
        display: flex;
        flex-direction: column;
      }

      .explore-cards {
        height: 450px;

        @include Tablet {
          width: 80%;
          height: 350px;
        }

        @include Mobile {
          margin-left: -2em;
          width: 90%;
          height: 400px;
        }

        img {
          margin-bottom: 1rem;
          transition: transform 0.3s ease-in-out;

          &.desert {
            width: 398px;
            height: 317px;
            border-radius: 16px;
            object-fit: cover;

            @include Tablet {
              height: 238px;
              width: 300px;
            }

            @include Mobile {
              height: 304px;
              width: 382px;
            }
            
          }

          @include Tablet {
            width: 100%;
          }
        }

        &.explore-cards:hover {
          img {
            transform: scale(1.03);
          }
        }

        .explore-text {
          @include Tablet {
            text-align: left;
          }
        }
      }

      .last-card {
        @include Large {
          display: none;
        }

        @include Desktop {
          display: block;
        }

        @include Tablet {
          display: none;
        }
      }

      .explore-text {
        width: 300px;
      }

      .arrow {
        display: grid;
        place-content: center;
        height: 47px;
        width: 47px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        color: #ffffff;
        top: 40%;
        transform: translateY(-50%);

        &.right {
          right: -7.5rem;
        }

        &.left {
          left: -3rem;
        }

        @include Large {
          display: none;
        }

        @include Desktop {
          display: grid;
        }

        @include Tablet {
          display: none;
        }
      }
    }
  }
}
