$Mobile : 475px;
$Tablet : 780px;
$Mini : 1024px;
$Large : 2560px;
$Desktop : 1440px;

@mixin Mobile {
    @media screen and (max-width : ($Mobile)){
        @content
    }
};

@mixin Tablet {
    @media screen and (max-width : ($Tablet)){
        @content
    }
};

@mixin Mini {
    @media screen and (max-width : ($Mini)){
        @content
    }
}

@mixin Large {
    @media screen and (max-width : ($Large)){
        @content
    }
}

@mixin Desktop {
    @media screen and (max-width : ($Desktop)){
        @content
    }
}