@import "../../styles/Responsive.scss";

.about {
  padding-block: 3rem;
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(255, 224, 20, 0.5) -40.24%,
      rgba(55, 13, 99, 0.5) 100%
    ),
    url("../../assets/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .back-button {
    position: absolute;
    top: 1rem;
    left: 3rem;
    color: #ebeb6c;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    .back-text {
      @include Tablet {
        display: none;
      }
    }

    .back-icon {
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
      width: 20px;
      height: 20px;
    }
  }

  .about-container {
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    padding: 4rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;

    @include Mini {
      flex-direction: column;
    }

    @include Mobile {
      padding: 1.5rem;
    }

    .about-image {
      background-image: linear-gradient(
          180deg,
          rgba(255, 224, 20, 0.5) -40.24%,
          rgba(55, 13, 99, 0.5) 100%
        ),
        url("../../assets/aboutImage.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 2rem;
    }

    .about-us {
      width: 100%;
      color: #2c2c2c;
      font-size: 14px;

      .about-text {
        margin-bottom: 1rem;
      }
    }

    .close {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      @include Mobile {
        top: 1rem;
        right: 1rem;
      }
    }

    &:hover {
      .close {
        opacity: 1;
      }
    }
  }
}
